/* 
    Document   : iwjvmap
    Created on : Apr 19, 2013, 9:23:23 AM
    Author     : Martin Magana <magana.web@gmail.com>
    Description:
    Purpose of the stylesheet follows.
*/

/*main container*/
body{
    /*overflow:hidden;*/
    font-family: "Myriad Pro",Myriad,"Trebuchet MS",Arial,Helvetica,sans-serif;
    background-color:#EAE0C1;
}
h1, h2{
    color:rgb(99, 88, 54);
}

#iwjvContainer {
    background-color:#F3EDDA;
    margin: 0 auto;
    width: 1300px;
}

#subtitle {
    height: 30px;
    margin-left: 0px;
    background-color: #635836;   /*#413000;*/

}

#subtitle h2{
    padding: 0px;
    display:inline;
    color: #F3EDDA;
    padding-left: 80px;
    font-size: 1.4em;
}
#gxmap {
    display:block;
    float:left;
    position:relative;
    top:5px;
    width: 750px;
    height: 500px;
    border: 1px solid black;
    z-index:1;
}

#iwjvBodyContainer{
    padding: 10px;
}

/*table element that contains the species data*/
#speciesTable{
    margin-left: 25px;
}

#speciesTable td{
    padding: 5px 10px;
}
/* Column headings of the species table  */
.speciesTableHeadingRow{
    font-weight: bold;
}

/* Single row in the species table */
.speciesTableRow{

}

/* div element that contains the worksheetTable*/
#worksheetContainer {
    display: inline-block;
    margin-bottom: 150px;

}

#worksheetContainer p {
    /*   color:#787836;
       font-weight: bold;*/
    margin-left: 25px;


}

#worksheetContainer button{
    margin: 10px 0 10px 0;
}

#worksheetContent{
    margin-left: 25px;
}
/* table elements with worksheet info */
.worksheetTable{
    border: 0;
}
/* heading for worksheet gets more padding */
.worksheetTable .worksheetHeadingRow td {
    padding-top: 10px;
    text-align: center;
}
.worksheetTable td {
    padding: 5px 10px 5px 0;
}

.worksheetTable input{
    width: 100%;
}

.worksheetTable .after, .speciesTableRow .after {
    background-color: rgba(188,190,113,0.3);
    width: 10%;
    /*    background-color: #BCBE71;*/
}

.worksheetTable .before, .speciesTableRow .before {
    background-color: rgba(217,171,117,0.5);
    width: 10%;
    /*    background-color: #F7F5ED;*/
}

.worksheetTable .after.first, .worksheetTable .before.first {
    padding-left: 10px;
}

.worksheetTable .referenceRow{
    background-color: rgba(255,255,255,.5);
}

.worksheetHeadingRow .conditionHeading span{
    font-weight: normal;
    font-size: 0.9em;
}

/* the rows that are considered the heading*/
.worksheetHeadingRow {
    vertical-align: top;
    font-weight: bold;
}

.worksheetHeadingRow .conditionHeading {
    text-align: center;
}





/* a single row in the worksheet table with habitat data*/
.worksheetHabitatRow{

}

/* td element containing habitat name in worksheet table */
.worksheetHabitatName{

}

.psuedo-div{
    display: block;
}

.worksheetButtonContainer{
    text-align: right;
}

.numericContainer{
    text-align: right;
}


#title {
    display: none;
    top:0px;
    position:absolute;
    width: 850px;
    height: auto;
    border: 5px solid black;
    z-index:1;
}

#siteTitleContainer  {
    height: 160px;
    background-color: #EAE0C1;
}

#siteTitleContainer img {
    margin-left: 130px;
    border: none;
}

#siteTitleContainer a {

    outline: none;
}
#siteTitleContainer h1{
    position: absolute;
    left: -99999px;
}

#siteTitleContainer h3{
    margin-left: 650px;

}

#birdInfoContainer button{
    float: left;
}
#buttonContainer button{
    display: block;
    margin: 5px;
    margin-left:auto;
    margin-right:auto;
    width: 12em;
}

#buttonContainer{
    float: left;
    margin: 0 20px;
}
/*Text for intro, bird info, and error messages*/
#mapSidebarRightContainer {
    font-size: 1.0em;
    height: 500px;
    margin-left: 755px;
}

#birdImgInfo {
    background-repeat:no-repeat;
    width: 350px;
    height: 300px;
    float: left;
    font-weight: 900;
    margin-left:20px;
    margin-top:10px;
    position: relative; /* used to position .birdInfoHabitatConditions to bottom*/
    text-align: center;
    color: rgba(255,255,255,1);
    font-size: 1.1em;

}

.birdInfoBackground-sasp {
    background-image: url('../../uploads/img/saspInfo.jpg');
}

.birdInfoBackground-sath {
    background-image: url('../../uploads/img/sathInfo.jpg');
}

.birdInfoBackground-grsp {
    background-image: url('../../uploads/img/grspInfo.jpg');
}

.birdInfoBackground-brsp {
    background-image: url('../../uploads/img/brspInfo.jpg');
}

.birdInfoBackground-lbcu {
    background-image: url('../../uploads/img/lbcuInfo.jpg');
}

/*bird info element, total population*/
.birdInfoTotalPopulation {
    background-color: rgba(194,109,22,.8);
    display: block;
    padding: 5px 0;
    width: 100%;
}
/* bird info element, habitat and conditions blurb*/
.birdInfoHabitatsConditions{
    background-color: rgba(194,109,22,.8);
    bottom:0;
    display: block;
    padding: 5px 0;
    position: absolute;
    width: 100%;

}

/* SASP - bird info element, habitat and conditions blurb*/
.birdInfoHabitatsConditions.sasp{

}

#photoCredit{
    clear:both;
    color: rgb(65,48,0);
    font-size: 0.9em;
    margin-left: 20px;
    position: relative;
    top: -18px;
}
/*Info  for bird popup*/
#birdInfoContainer{
    display: none;
}

#mapInstructionContainer{
    display: none;
    font-size: 1.0em;
    padding: 0 20px;
}
#mapInstructionContainer h2{
    margin: 0;
    text-align: center;
}

.defaultButton{
    color:#FFFFFF;/*none;*/
    background-color: #C26D16;
}

.footer #prbo img{
    float: right;
    margin-top:0px;
}

.footer #prbo{
    font-family: futura,arial,helvetica,sans-serif;
    font-size: 1.0em;
    color:#C26D16;
    float: right;
    margin-top:0px;
}


.footer #abc{
    font-family: futura,arial,helvetica,sans-serif;
    font-size: 1.0em;
    color:#C26D16;
    float: left;
}
.footer #abc img{
    width:180px;
    margin-left: 0px;

}
.footer img {
    /*margin-left: 130px;*/
    border: none;
}

.footer a {
    outline: none;
}
.stategonTableContainer {
    background-color:#F3EDDA;

}
#stategonInfoTableInfo{

    margin-left: 200px;
    font-size: 1.0em;
}
#stategoninfotable #habitat_info {
    /*width: 100%;    this div not spec enough*/
    /*border: 1px solid #cef;*/

    text-align: left;
}

#stategoninfotable #habitat_info td, th {
    padding: 4px 15px 4px 0;
}

#stategoninfotable th {
    text-align: center;
}
#stategoninfotable .odd {
    background-color: rgba(249, 246, 237, 0.8);
}
#stategonInfoHeader{

}
#stategonInfoHeader div{

}
#stategonInfoTableHeader div{
    margin-left: 25px;
}
#stategonInfoTableHeader p{
    /* margin-left: 600px;*/
    text-align: center;
    font-size: 1.2em;
}
/* table element that hold stategon info*/
#stategoninfotable{

}

.stategonInfoTableRow{


}

/* td elements that hold the stategon image */
td.stategonImage{
    width: 400px;
    padding: 10px;
}
td.stategonImage img{
    width: 450px;
    /* height:400px;*/
}
/*geoExt top panel*/
#ext-gen3 {
    display: none;
}
/*
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive {
    display: block;
    background: #EBE9E4 !important;
    background-image: url("images/draw_poly_inactive.jpg?ver=130214.1") !important;
    background-repeat: no-repeat !important;
    background-size:91px 35px !important;
    width:  91px !important;
    height: 35px !important;
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive {
    display: block;
    background: #EBE9E4 !important;
    background-image: url("images/draw_poly_active.jpg?ver=130214.1") !important;
    background-repeat: no-repeat !important;
    background-size:91px 35px !important;
    width:  91px !important;
    height: 35px !important;
}

*/

.olControlEditingToolbar {
    display: none;
}

.stategonInfoTable {
    margin-top: 25px;
    width: 100%;
}
.stategonInfoTable td {
    padding: 5px;
}
.total {
    text-align: center;
    width: 10%;
}