/* 
    Document   : iwjvmap
    Created on : Apr 19, 2013, 9:23:23 AM
    Author     : Martin Magana <magana.web@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

/* Column headings of the species table  */
.speciesTableHeadingRow{
    font-weight: bold;
}

/* Single row in the species table */
.speciesTableRow{
    
}

/* td elements that hold the stategon image */
td.stategonImage{
    
}

/* table element that hold stategon info*/
#stategoninfotable{
    
}

/* table elements with worksheet info */
#worksheetTable{
    
}

/* a single row in the worksheet table with habitat data*/
.worksheetHabitatRow{
    
}

/* td element containing habitat name in worksheet table */
.worksheetHabitatName{
    
}