body{
    /*overflow:hidden;*/
      font-family: "Myriad Pro",Myriad,"Trebuchet MS",Arial,Helvetica,sans-serif;
      background-color:#EAE0C1; 
}

.clear{
    margin: 0;
    padding: 0;
    clear: both;
}

#iwjvContainer {
    display:block;
    position:relative;
    width: auto;
    height: auto;
    z-index:1; 
    background-color:#F3EDDA; 
}

/*The map and the location bar 
#map {
    display:block;
    position:relative;
    width: auto;
    height: auto;
    border: 5px solid black;
    z-index:1;  
}
*/

#mappanel {
    display:block;
    position:relative;
    top:10px;
    width: 700px;
    height: 500px;
    border: 5px solid black;
    z-index:1;   
}



#gxmap {
    display:block;
    float:left;
    position:relative;
    top:5px;
    width: 700px;
    height: 500px;
    border: 1px solid black;
    z-index:1;  
}

#title {
    display: none;             /*block;*/
    top:0px;
    position:absolute;
    width: 700px;
    height: auto;
    border: 5px solid black;
    z-index:1;  
}

#siteTitle {
    display:block;
    top:0px;
    position:relative;
    text-align: center;
    width: auto;
    height: 100px;
    font-weight: bold;
    font-size: 22px;
    z-index:1;  
    background-color: #EAE0C1;
    color:#787836;/*none;*/
}

/*Introduction to map and app  next to map and replaced by stategon info after ma click*/
#mapIntro{
    font-weight: bold;
}

#birdInfoContainer button{
    float: left;
}

/*Text for intro, bird info, and error messages*/
#mapSidebarRightContainer {
    
    color:#787836;
    font-weight: bold;
    font-size: 1.5em;
    height: 500px;
    margin-left: 705px;
    text-align: center;
}
img.birdInfo {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 650px;
   /* height: 200px;*/
}
/*Info  for bird popup*/
#birdInfoContainer{
    display: none;
}

#mapInstructionContainer{
        display: none;
}
.defaultButton{
    color:#FFFFFF;/*none;*/
    background-color: #C26D16;
}
 
.birdInfoButtons {
    display: block;
    position:relative;
    /*margin-top: 20px;*/
    width: 500px;
}
#mapMiddleContainer {
    display: block;
    position:relative;
    color:#FFFFFF;
}
#instructionsButtonContainer {
    display: none;
}
.stategonTableContainer {
    background-color:#F3EDDA; 

}

#stategonInfoHeader{

         width: auto;  /*1000px;*/
}
#stategonInfoTable{
        border:1px ;
        padding:1px;
        background-color:#F3EDDA; /*   #F7F5ED;*/
        width: auto;  /*1000px;*/
}

.stategonInfoTableRow{

         
}
/* Single row in the species table */
#mapPopup{
    
}

#ext-gen3 {
    display: none;
}
