body{/*overflow:hidden;*/}

#layerswitcher img
{float:right; height:25px; opacity:1; z-index:0;}

#layerswitcher
{
position:absolute;
left:-10px;
bottom:0px;
width:250px;
height:300px;
opacity:.75;
 margin-top:600px; 
-moz-transition:margin 1s; /* Firefox 4 */
-webkit-transition:margin 1s; /* chrome */
border-radius:0px 20px 20px 0px;
z-index:1;
line-height:1.5em;
padding-left:20px;

}

#layerlist
{
position:absolute;
left:-10px;
bottom:0px;
width:250px;
height:300px;
opacity:.75;
 margin-top:600px; 
-moz-transition:margin 1s; /* Firefox 4 */
-webkit-transition:margin 1s; /* chrome */
border-radius:0px 20px 20px 0px;
z-index:1;
line-height:1.5em;
padding-left:20px;

}
#legend{margin-right:-10px;}
#downloads {border-radius:5px 5px 5px 0px;padding: 5px;}

#layerswitcher:hover
{
margin-top:350px;
opacity:1;
}

#downloads{
width:350px;
position:absolute;
z-index:1;
bottom:0px;
right:10px;
background-color:#CCCCCC;
line-height:1.2em;
z-index:1;
margin-right:-5px;
margin-bottom:-225px;
-moz-transition:margin 1s; /* Firefox 4 */
-webkit-transition: margin 1s; /* chrome */
opacity:.70;
}
/* The map and the location bar */
#map {
    display:block;
    position:relative;
    width: auto;
    height: auto;
    border: 5px solid black;
    z-index:1;  
}

#mappanel {
    display:block;
    position:relative;
    top:10px;
    width: 1000px;
    height: 600px;
    border: 5px solid black;
    z-index:1;   
}



#gxmap {
    display:block;
    position:relative;
    top:10px;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    z-index:1;  
}

#title {
    display:block;
        top:0px;
    position:absolute;
    width: 1100px;
    height: auto;
    border: 5px solid black;
    z-index:1;  
}

#description {

    position:absolute;
    top:80px;
    right:10px;
    width: 600px;
    height: auto;
    border: 5px solid black;
    z-index:1;  
}

#drawControls {
    border-radius:10px 10px 10px 10px;
    position:absolute;
    top:110px;
    left:100px;
    width: 600px;
    border: 5px solid black;
    z-index:1;  
}

#menus 
{
    border-radius:10px 10px 10px 10px;
    position:absolute;
    top:7px;
    left:70px;
    margin-right:auto;
    background-color:#CCCCCC;
    padding:4px;
    z-index:2;
}
#downloads img
{float:left; height:25px; opacity:1;margin-right:15px;}
#downloads:hover{ margin-bottom:0px; opacity:1;}
#output-id {
    margin: 10px 250px;
}

textarea.output {
    font-size: 0.9em;
    height: 65px;
    overflow: auto;
    text-align: left;
    width: 250px;
}

#east {
    font-size: 0.9em;
    height: 500px;
    overflow: auto;
    text-align: left;
    width: 500px;
}

#query {

    position:absolute;
    top:200px;
    right:10px;
    width: 600px;
    height: 800px;
    border: 5px solid black;
    z-index:1;  
}