body{/*overflow:hidden;*/}

#iwjvContainer {
    display:block;
    position:relative;
    width: auto;
    height: auto;
    z-index:1;  
}

/*The map and the location bar 
#map {
    display:block;
    position:relative;
    width: auto;
    height: auto;
    border: 5px solid black;
    z-index:1;  
}
*/

#mappanel {
    display:block;
    position:relative;
    top:10px;
    width: 700px;
    height: 500px;
    border: 5px solid black;
    z-index:1;   
}



#gxmap {
    display:block;
    position:relative;
    top:5px;
    width: 700px;
    height: 500px;
    border: 1px solid black;
    z-index:1;  
}

#title {
    display: none;             /*block;*/
    top:0px;
    position:absolute;
    width: 700px;
    height: auto;
    border: 5px solid black;
    z-index:1;  
}

#siteTitle {
    display:block;
    top:5px;
    position:relative;
    text-align: center;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 20px;
    z-index:1;  
}

/*Introduction to map and app  next to map and replaced by stategon info after ma click*/
#mapIntro{
    font-weight: bold;
}

/*Info  for bird popup*/
.birdinfoPopup{
    font-weight: bold;
}

#brsp_button{
    display: block;    /*none;*/
}
#grsp_button{
    display:block;
}
#lbcu_button{
    display:block;
}
#sasp_button{
    display:block;
}
#sath_button{
    display:block;
}
 
.birdInfoButtons {
    display: block;
    position:relative;
    /*margin-top: 20px;*/
    width: 500px;
}

.stategonTableContainer {
    display:block;
    position:relative;
    top:10px;
    width: 600px;
    height: 500px;
    z-index:1;  
}
#stategonTableContainer{
    font-weight: bold;
}
#stategonTableHeadingRow{
    font-weight: bold;
}

/* Single row in the species table */
#stategonTableRow{
    
}

/* Single row in the species table */
#mapPopup{
    
}

#ext-gen3 {
    display: none;
}
