body{
    /*overflow:hidden;*/
      font-family: "Myriad Pro",Myriad,"Trebuchet MS",Arial,Helvetica,sans-serif;
      background-color:#EAE0C1; 
}

#iwjvContainer {
    display:block;
    position:relative;
    width: auto;
    height: auto;
    z-index:1; 
    background-color:#F3EDDA; 
}

/*The map and the location bar 
#map {
    display:block;
    position:relative;
    width: auto;
    height: auto;
    border: 5px solid black;
    z-index:1;  
}
*/

#mappanel {
    display:block;
    position:relative;
    top:10px;
    width: 700px;
    height: 500px;
    border: 5px solid black;
    z-index:1;   
}



#gxmap {
    display:block;
    position:relative;
    top:5px;
    width: 700px;
    height: 500px;
    border: 1px solid black;
    z-index:1;  
}

#title {
    display: none;             /*block;*/
    top:0px;
    position:absolute;
    width: 700px;
    height: auto;
    border: 5px solid black;
    z-index:1;  
}

#siteTitle {
    display:block;
    top:0px;
    position:relative;
    text-align: center;
    width: auto;
    height: 100px;
    font-weight: bold;
    font-size: 22px;
    z-index:1;  
    background-color: #EAE0C1;
    color:#787836;/*none;*/
}

/*Introduction to map and app  next to map and replaced by stategon info after ma click*/
#mapIntro{
    font-weight: bold;
}

/*Text for intro, bird info, and error messages*/
#mapSidebarRightContainer {
    display:block;
    top:5px;
    width: 800px;
    height: 500px;
    position:relative;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    background-color:  #F3EDDA ; /*#EAE0C1;*/
    color:#787836;

    left:50px;
}
img.birdInfo {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 650px;
   /* height: 200px;*/
}
/*Info  for bird popup*/
.birdinfoPopup{
    display:block;
    top:0px;
    position:relative;
    text-align: center;
    width: auto;
    height: 100px;
    font-weight: bold;
    font-size: 22px;
    background-color: #EAE0C1;
    color:#787836;/*none;*/
}

#brsp_button{
    display: block; 
    color:#FFFFFF;/*none;*/
    background-color: #C26D16;
}
#grsp_button{
    display:block;
    color:#FFFFFF;/*none;*/
    background-color: #BCBE71;
}
#lbcu_button{
    display:block;
    color:#FFFFFF;/*none;*/
    background-color: #C26D16;
}
#sasp_button{
    display:block;
    color:#FFFFFF;/*none;*/
    background-color: #C26D16;    
}
#sath_button{
    display:block;
    color:#FFFFFF;/*none;*/
    background-color: #C26D16;    
}
 
.birdInfoButtons {
    display: block;
    position:relative;
    /*margin-top: 20px;*/
    width: 500px;
}

.stategonTableContainer {
    display:block;
    background-color:#F3EDDA;
    position:relative;
    top:0px;
    width: auto;   /*800px;*/
    height: 500px;
    z-index:1;  

}

#stategonInfoHeader{

         width: auto;  /*1000px;*/
}
#stategonInfoTable{
        border:1px ;
        padding:1px;
        background-color:#F3EDDA; /*   #F7F5ED;*/
        width: auto;  /*1000px;*/
}

.stategonInfoTableRow{

         
}
/* Single row in the species table */
#mapPopup{
    
}

#ext-gen3 {
    display: none;
}
