/* General settings */
html, body {
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    font-weight: 100;
    background : #565656; 
    height: 99%;
    width: 100%;
    overflow:hidden;
}

#layerswitcher img {
    float:right; 
    height:25px; 
    opacity:1; 
    z-index:0;
}

#layerswitcher {
    position:absolute;
    left:-10px;
    bottom:0px;
    width:250px;
    height:300px;
    opacity:.75;
    margin-top:600px; 
    -moz-transition:margin 1s; /* Firefox 4 */
    -webkit-transition:margin 1s; /* chrome */
    border-radius:0px 20px 20px 0px;
    z-index:1;
    line-height:1.5em;
    padding-left:20px;
}

#legend {
    margin-right:-10px;
}

#layerswitcher:hover {
    margin-top:350px;
    opacity:1;
}

#download{   
    position:absolute;
    top:24px;right:200px;
    text-align:center;}

/* The map and the location bar */

#map {
    display:block;
    height:auto;
    position:relative;
    width: auto;
    height: auto;
    border: 5px solid black;
    z-index:1;  
}

#mapPanel {
    width: auto;
    height: 0px;                            /* 0px;  100%;    */
    background-color: none;
}

#menus {
    border-radius:10px 10px 10px 10px;
    position:absolute;
    top:7px;
    left:180px;
    margin-right:auto;
    background-color:#CCCCCC;
    padding:4px;
    z-index:2;
}

#search {
    position:relative;
    top:10px;
    left:70px;
    z-index:1002;
    /* color:#fff; */
    display: none;
    width: 350px;
}
#zvalue {
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    position:relative;
    top: 15px;
    left: 70px;
    width: 350px;
    height: 20px;
    background-color: none;
    color: #FFFFFF;
    z-index: 1002;
    display: none;
}
div#downloadOnMap {
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    position:absolute;
    top: 300px;
    left: 300px;
    width: 160px;
    height: 100px;
    background-color: #FFFFFF;
    color: #000000;
    z-index: 1002;
    display: none;
}
input#downloadOnMapClose {
    position: absolute;
    right: 2px;
    top: 2px;
    font-family: 'Muli', sans-serif;
    font-size: 8px;
    font-weight: 100;
    background-color: #eeeeee;
    width: 15px;
}


#desc {
    display: none;
}

div.search_element {
    float: left;
    position: relative;
}
#q-adress {
    margin-top: 2px;
    padding-right: 35px;
    font-family: 'Muli', sans-serif;
}
#clearBtn {
    position: relative;
    left: -35px;
    margin-top: 2px;
    vertical-align: text-bottom;
}
#searchBtn {
    position: relative;
    left: -40px;
    margin-top: 2px;
    vertical-align: text-bottom;
}

#watermark {
    position:absolute;
    bottom:50px;
    right:70px;
    display:block;
    opacity:.4;
} 

/* override style to avoid pink tiles on layer loading errors*/
.olImageLoadError { 
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
}

#topics fieldset#vulnerability, #topics fieldset#sea_level_rise, #topics fieldset#scenarios, #topics fieldset#other, #topics fieldset#opacity, #topics fieldset#aboutthis {
    float:left; 
    border:1px solid #aaaaaa;         /* H  V  Blur Size Color */
    margin-top: 10px;
    width: 195px;
}

#topics fieldset#sea_level_rise {
    padding: 10px 5px 15px 10px;
}

#topics fieldset#vulnerability {
    padding: 10px 5px 15px 10px;
}

#topics fieldset#scenarios {
    padding: 10px 5px 15px 10px;
}

#topics fieldset#other {
    padding: 10px 5px 15px 10px;
    text-align: left;
}

fieldset legend {
    font-weight: bold;
    text-align: center;
}

#lab_scen000 {
    margin-left: 2px;
}

#topics fieldset#opacity {
    padding: 10px 9px 15px 8px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

#topics  {
    position:relative;
    text-align:center; 
    top:10px; 
   /* font-weight: bolder; */
   /* border: 2px solid #565656; */
    display: none;
}

#topicspanel .x-panel-body, #detailspanel .x-panel-body {
        background-color: #DFE8F6;
}

#sea_level_rise input, #vulnerability input, #scenarios input {
    display:none;
}

#sea_level_rise  label, #vulnerability  label, #scenarios  label {
    display:block;
    float:left;
    border: 1px solid #aaaaaa;
    text-align:center;
    color:#565656;
    background-color:#ffffff;
}
#vulnerability  label {
    height:22px;
    width:80px;
    margin-top: 4px;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    font-weight: 100;
    padding-top:5px;
}
#sea_level_rise  label {
    height:16px;
    width: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 8pt;
    font-weight: 100;
}
#scenarios  label {
    height:16px;
    width: 45px;
    padding-top:5px;
    font-family: 'Muli', sans-serif;
    font-size: 8pt;
    font-weight: 100;
}

#sea_level_rise input:checked  + label, 
#vulnerability input:checked + label,
#scenarios input:checked + label {
    color: #565656;
    background-color: #ADDDE7;
}


#sea_level_rise  label:hover, #vulnerability  label:hover,
#scenarios  label:hover {
    color: #565656;
    background-color: #D4ECE1;
}

#sea_level_rise  label:active, #vulnerability  label:active,
#scenarios  label:active {
    color: #565656;
    background-color: #ADDDE7;
}

form  input#slrHelper { 
    position:relative;
    top:15px;
    left:0px;
    word-wrap: normal;
}

fieldset#other input {
    padding:5px;
    float:left;
    display:block;
    text-align:left;
}

#treePanel {
    /* min-width:200px; */
}

.olControlScaleLine {
    background: #777777;
    color:#ffffff;
}

.olControlEditingToolbar .move_feature_onItemInactive {
    display:block;
    background: #EBE9E4;
    background-image: url("images/draw_box_inactive.jpg?ver=130214.1");
    background-repeat: no-repeat;
    background-size:91px 35px;
    width:  91px;
    height: 35px;
}

.olControlEditingToolbar .move_feature_onItemActive {
    display:block;
    background: #EBE9E4;
    background-image: url("images/draw_box_active.jpg?ver=130214.1");
    background-repeat: no-repeat;
    background-size:91px 35px;
    width:  91px;
    height: 35px;
}

.olControlEditingToolbar .polygonfromfileItemInactive {
    display:block;
    background: #EBE9E4;
    background-image: url("images/load_kml_inactive.jpg?ver=130214.1");
    background-repeat: no-repeat;
    background-size:91px 35px;
    width:  91px;
    height: 35px;
}

.olControlEditingToolbar .polygonfromfileItemActive {
    display:block;
    background: #EBE9E4;
    background-image: url("images/load_kml_active.jpg?ver=130214.1");
    background-repeat: no-repeat;
    background-size:91px 35px;
    width:  91px;
    height: 35px;
}

.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive {
    display: block;
    background: #EBE9E4 !important;
    background-image: url("images/draw_poly_inactive.jpg?ver=130214.1") !important;
    background-repeat: no-repeat !important;
    background-size:91px 35px !important;
    width:  91px !important;
    height: 35px !important;
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
    display: block;
    background: #EBE9E4 !important;
    background-image: url("images/draw_poly_active.jpg?ver=130214.1") !important;
    background-repeat: no-repeat !important;
    background-size:91px 35px !important;
    width:  91px !important;
    height: 35px !important;
}

.olControlEditingToolbar .olControlNavigationItemInactive {
    display: block;
    background: #EBE9E4 !important;
    background-image: url("images/pan_inactive.jpg?ver=130214.1") !important;
    background-repeat: no-repeat !important;
    background-size:91px 35px !important;
    width:  91px !important;
    height: 35px !important;
}
.olControlEditingToolbar .olControlNavigationItemActive {
    display: block;
    background: #EBE9E4 !important;
    background-image: url("images/pan_active.jpg?ver=130214.1") !important;
    background-repeat: no-repeat !important;
    background-size:91px 35px !important;
    width:  91px !important;
    height: 35px !important;
}

div.qstn {
    padding-top: 5px;
    font-size: 10px;
    width: 100%;
    position: relative;
    float: left;
}

h3 {
    border-bottom: 0 none;
    color: #00778A;
    font-family: Tahoma,sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

div.expl {
    width: 100%;
    font-size: 10px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    display: none;
    height: 42px;
}
div#v_flood_expl
{
    display: inline;
}
div.title {
    float: left;
    position: relative;
    width: 108px;
    margin-top: 5px;
}
img#close {
    position: absolute;
    top: -7px;
    right: 2px;
}
div.footer {
    width: 100%;
    position: relative;
    float: left;
    text-align: left;
    margin-top: 15px;
}
input#help, input#clear, input#recenter, input#topic {
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    font-weight: 100;
    background-color: #eeeeee;
    width: 70px;
}
input#detailView, input#topicView {
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    font-weight: 100;
    background-color: #eeeeee;
    width: 150px;
}
.mapPopup {
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    background-color: white;
    padding: 5px 5px 10px 15px;
    overflow-y: auto;
}
div#helpPanel {
    position: absolute;
    top: 300px;
    left: 300px;
}
input#helpClose {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    font-weight: 100;
    background-color: #eeeeee;
    width: 25px;
}

div#details {
    display: none;
}

span.bold {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 12px;
}
span.indent {
    font-family: 'Muli', sans-serif;
    margin-left: 20px;
    font-size: 12px;
}

#layersPanel .x-panel-header, #detailsPanel .x-panel-header {
    height: 0px;
    padding-top: 0px !important;
    padding-bottom:  0px !important;
}

button, .x-btn {
    font-family: 'Muli', sans-serif !important;
    font-size: 10px !important;
    font-weight: 100 !important;
    background-color: #eeeeee !important;
}
.panelCloseButton {
    background-image: url(images/close_left.gif) !important;
}
table#otherlayers tr td input {
    padding: 0px;
	margin: 0px;
}
.polygonTypeButton {
    background-image: url("OpenLayers-2.11/theme/default/img/draw_polygon_off.png");
}